

.skip-link {
  position: absolute;
  width: 2px;
  height: 2px;
  padding: 0.5;
  margin: -1px;
  overflow: hidden;
  border: 1;
}

.skip-link:focus{
  width: unset;
  height: unset;
  position: relative;
  padding: unset;
  margin: unset;
  font-size: 2rem;
}

.skip-link {
	color: whitesmoke;
}

nav {
	font-family: 'Bebas Neue', serif;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 7px;
	padding: 0;
	margin: 0;
	align-items: center;
	justify-content: center;
	font-family: "Bebas Neue";
}

nav li {
	display: inline;
}

nav a {
	text-decoration: none;
	font-family: "serif";
	color: black;
	background-color: ghostwhite;
	border: 4px solid black;
	padding: 10px 20px;
	border-radius: 7px;
	display: inline-block;
}

nav a:hover {
	background-color: black;
	color: white;
}



.gallery-body {
	background-image: linear-gradient(to bottom, #fa8072, #ffdab9, #e6e6fa, #6a5acd);
	overflow: scroll;
}

.gallery-body h1 { 
display: flex;
justify-content: center;
font-family: "Winky Rough", serif; 
font-size: 4rem;
color: black;
}

.list2-body {
	background-image: linear-gradient(to bottom, #008b8b, #5f9ea0, #e0ffff);
	overflow: scroll;
}

.list2-body h1 {
	display: flex;
	justify-content: center;
	font-family: "Bebe Neue", serif;
	font-size: 3rem;
	color: ghostwhite;
	text-shadown: #524542 1px 0 10px;
}

.list2-body p { 
justify-content: center;
font-family: "Bebe Neue", serif;
font-size: 1.5rem;
color: ghostwhite; 
}

.gallery-body p {
	text-align: center;
	font-family: "Noto serif", sans-serif;
}


.gallery-body figcaption {
	text-align: center;
	font-family: "Oswald", sans-serif;
}

.gallery-descrip p {
	padding-left: 1.4rem;
	padding-right: 1.4rem;
}

.gallery-image {
	max-width: 80%;
}

.gallery-image img {
	width: 100%;
	max-height: 80%;
}

.list1-body {
	background-image: linear-gradient(to right, #191970, #483D8B, #4682B4);
	overflow: scroll;
}

.list1-body h1 {
	font-family: "Noto serif", sans-serif;
	color: darkblue;
}

.index-body {
	background-image: linear-gradient(to right, #8fbc8f, #fffff0, #add8e6);
	overflow: scroll;
}

.index-body h1 {
	font-family: "Noto serif", sans-serif;
	color: cornflowerblue;
	text-shadow: #f0f8ff 1px 0 10px;
}


button_next {  }
button_previous {  }



h1 {
	display: flex;
	justify-content: center;
	font-family: "Bebe Neue", serif;
	font-size: 2rem;
	color: ghostwhite;
	text-shadow: #524542 1px 0 10px;
/*	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;*/

}

.list1 h1{
	color:#808088;
	text-shadow: #220a00 1px 0 2px;
	text-transform: uppercase;
}


p {
	font-family: "Cabin", serif;
}

.intro-text {
	margin: 1rem;
	margin-top: 2rem;
	padding: 1rem;
	background-color: rgba(191,216,221, 1);
	border-radius: 10px;


}


}















.restauraunt-list-intro p{
	font-family: "bebas neue";
	color: ghostwhite;
}

.text-holder,
.location-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-wid
}

.location-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.listrestaurants {
	text-align: center;
}

.restaurant-list-intro {
	text-align: center;
}
.container {
    position: relative;
}

.list2-body p{
	font-family: serif;
	color: black;
}

.location-holder {
	border-width: 13px;
	border-style: solid;
	border-color: ghostwhite;
	background: #FDF5E6;
}

.text-holder {
	border-width: 15px;
	border-style: solid;
	border-color: ghostwhite;
	background: ghostwhite;
}



.vertical-line {

}

.

.text-holder
p {
	text-align: center;
}

.location-holder{
	display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	max-width: 900px;
	margin: auto;
}


/* .corner {
	width: 0;
    height: 0;
    border-top: 100px solid rgba(191,236,255, 1.0);
    border-right: 100px solid transparent;
}*/


/*Adding corners to a div from https://codepen.io/Roye/pen/KKYNGmY*/

.corner {
/*  width: 50%;*/
/*  height: 50%;*/
  position: relative;
  background-color: rgba(117,167,255,0.5);
}

.corner::before, .corner::after {
  content: '';
  display: block;
  position: absolute;
  /* Keep these values the same so that the width and height of the borders is always equal */
  width: 15%;
  padding-bottom: 15%;
}

.corner::before {
  top: 0;
  left: 0;
  border-top: 5px solid rgba(167,208,255,0.8);
  border-left: 5px solid rgba(167,208,255,0.8);
 
}

.corner::after {
  bottom: 0;
  right: 0;
  border-bottom: 5px solid rgba(167,208,255,0.8)
  border-right: 5px solid rgba(167,208,255,0.8);
  
}





.intro-text p {
/*	text-shadow: whitesmoke 1px 0 10px;*/
}







.first-page {
	font-style: italic;
	color:orangered;
}


.main-image {
	display: flex;
	
}

img {
	border: none;
	max-width: 100%;
}

.main-image img {

	max-width: 45%;
	border-radius: 3000px;
	margin: auto;

}






main {
	max-width: 800px;
	margin: auto;
	font-size: 1.4rem;
}


p {
	font-family: font-family: 'Cabin', sans-serif;
/*	font-size: 1rem;*/
}




footer {
	font-family: 'Anton', serif;
	font-weight: 100;
	color: ghostwhite;
background-color:;
	max-width: 800px;
	margin: auto;
	

}




h1 {
	font-family: 'Bebe Neue', serif;
	font-weight: 900;
	margin: 0rem;
}

h2 {
	font-size: 2.5rem;
	text-transform: capitalize;
	max-width: 100%;
}

h3 {
	font-family: 'IBM+Plex', monospace;


}




h4 {

}

p {
	font-family: 'Cabin', sans-serif;
}






.gallery-example {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}





.button_holder {
	display: flex;
	flex-direction: row;
}

button_next {  }
button_previous {  }

.stepper {  }

.button {
	background-color: darkmagenta;
	margin: 1rem;
	padding: 1rem;
	min-width: 10rem;
	font-size: 1.2rem;
	border-radius: 0.5rem;
}

.button-start {
/*	background-color: forestgreen;*/
}

.gallery-image {
	max-width: 80%;

}

.gallery-image img {
	width: 100%;
}


example-image {
	display: flex;
	flex-direction: column;
	margin: 3rem;

}

.example-image img {
	display: flex;
  	max-width:230px;
  	max-height:95px;
 	width: auto;
  	height: auto;
  	margin: 1rem;
}

.listings {
	display: flex;
	flex-wrap: wrap;
}

/*

Name h2
Year date-label
Description desc-label
Notable disctintion notable-label
wiki link wiki-link*/

.list-item {
	display: flex;
/*	flex-wrap: wrap;*/
	box-shadow: inset 1rem 1rem #f9f3db;
	border-radius: 3px;

}



.list-item h2 {
	display: flex;
	font-family: "Anton", serif;
/*	font-family: 'Pixelify Sans', cursive; */
/*	This will fall back to a default font when not connected*/
}

.date-label {

}


.list-item .date-label {
	display: flex;
	font-weight: 200;
	margin-left: 1rem;
}

.list-item .desc-label {
/*	display: flex;*/
	font-weight: 400;
	margin-left:1.2rem;
	padding: 0.25rem;
	margin-top: -1rem;

}

.directors {
	text-decoration: blink;
	color: black;


}

.directors p {
/*	margin: 0.1rem;*/
color: black;
background-color: lightgray;
}

.directors a {
	color: #f8e8d6;
	background-color: rgba(67, 67, 67, 0.3);
	padding: 0.4em;
	margin-left: 2rem;
	margin-bottom: 3rem;
	border: 1px solid rgba(67, 67, 67, 0.3);
}





.list-image {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
}
   
.img-credit {
	    
    	position: absolute;
    	bottom: 0;
    	right: 0;
/*    	width: 100%;*/
    	z-index: 0;
    	color: #fff;
	    font-family: 'IBM Plex Mono', monospace;
    	font-size: 0.8rem;
    	padding: 1rem;
    	margin: 0.1rem;
}

.img-credit a {
	color: whitesmoke;
	text-shadow: black 1px 0 10px;
	background: black;
	border-radius: 2px;

}

/**/

.list-image img{

	max-width: 200px;
	margin: 1rem;
	box-shadow: 3px 3px gold;
	border-radius: 0.3rem;
	
}




.fancy-text {
	font-family: 'Nabla', cursive;

}

.fancy-background {
	background-color: #797979;
	padding: 1rem;
}

.fancy-background .fancy-text {
	font-size: xx-large;
}

.background-blue h3 {
	background: cornflowerblue;
}







.flex-example {
	display: flex;

}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}

.blue {
	
	
	width: 300px;
	background-color: cornflowerblue;
	padding: 1rem;
}







.image-type-1 {
	background-color: greenyellow;
	padding: 2rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-2 {
	background-color: orange;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-3 {
	background-color: teal;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-4 {
	background-color: rebeccapurple;
	padding: 2rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.image-type-5 {
	background-color: rebeccapurple;
	padding: 4rem;
	padding-left: 1rem;
	margin: 1rem;
	border: red 5px solid;
}

.mailing-link {
	display: flex;
}

.mailing-link img {
	display: flex;
	border-radius: 5rem;
	max-width: 400px;
	justify-content: center;
}

.lead-image img {

/*	width: 100%;*/
/*	margin: 1rem;*/
	margin: auto;
	border-radius: 20rem;
/*	filter: drop-shadow(0 0 0.75rem #00bfff);*/
/*	filter: drop-shadow(0 0 0.75rem crimson);*/
	filter: drop-shadow(0 0 0.75rem #913814);
}

.lead-image {
	width: 100%;
	padding: 3rem;
}

.mailing-link a {

}

.listings {

}

.punchline {
/*	display: none;*/
	text-decoration: #00bfff wavy 2px underline;
	text-transform: lowercase;
}

.material-symbols-outlined {
		  font-variation-settings:
		  'FILL' 0,
		  'wght' 400,
		  'GRAD' 0,
		  'opsz' 24
		}

.monotype {
			font-family: 'IBM+Plex', monospace;
		}





.intro {
	background-color: cornflowerblue;
}


.biopic-list-intro {
	margin: 1rem;
	padding: 1rem;
	background-color: #f5f5dc;
	border-radius: 1rem;
}




/*start of media queries*/
@media screen and (max-width: 500px){





main {
	width: 100%
}

.main-image img {

	max-width: 80%;
	border-radius: 40px;
	margin: auto;

}


.list-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: inset 0.1rem 1rem #f9f3db;
	border-radius: 3px;
}

.list-image {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.list-image img {
	max-width: 90%;
	margin:auto;
}

img {
	display: flex;
		align-items: center;
		width: 100%;
	}



h1 {
	font-weight: 500;
	text-decoration: underline 1.5rem white;
	text-underline-offset: 0.2rem;
}

h2 {
	font-weight: 300;
	font-size: 1.5rem;
	margin-left: 1rem;
	padding-left: 0.;
}






p {
	font-size: 1.5rem;
	}





	.flex-squares {
		display: flex;
		flex-direction: column;
		justify-content: space-between;


	}

	.nesting {
		display: flex;
		flex-direction: row;
	}

	.destinationlist {
		font-size: 2rem;
	}

	.destinationlist li {
		list-style-type: square;

	}




.flex-example {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;



}

.flex-example-space {
	margin:1rem;
}


.flex-example2 {
	
}









@media screen and (min-width:501px){
	body {
		background-color: #d8bfd8;
}





	}


@media screen and (min-width:720px){
.example-image {
	
	flex-direction: row !important;
	margin: 3rem;

}
.example-image img {
	background-color: crimson;
	padding: 3rem;
}





	body {

/*	background-color: #dbf0f9;*/
/*	background-image: file:///D:/4502-class-example/4502-class-example/img/2001.png;*/
/*background-image: url("../img/2001.png");*/
}

	}